.wrapper {

  padding: 20px;
  top: 0%;
  left: 0%;

  margin-top: 100px;
  width: 100%;
  height: 95%;

}

.content-forget{
  margin-top: 50px;
  margin-left: 10px;
  display: flex;

 
}

.contact-email{
  margin-left: 50px;
  margin-top: 100px;
 
}
/* .image {
  margin-top: 0%;
  margin-left: 0%;
  height: 30%;
  width: 30%;
} */
/* .content-forget{
  width: 100%;
  display: flex;
  justify-content: space-between;
} */
/* .button {
  width: 50%;
  margin-left: 40%;
  background-color: #055031;
  height: 50px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
} */
.button{
  margin-top: 50px;
  color: white;
}
.button:hover {
  background-color: #2d3436;
  color: #fff;
}
input {
  height: 50px !important;
  width: 500px;
  left: 40%;
  padding-left: 5px;
}
.form-control:focus {
  border-color: #18dcff;
  box-shadow: none;
}
h3 {
  font-size: 36px;
  margin-left: 40%;
  margin-top: 0%;
}
/* p {
  margin-left: 40%;
  top: 5%;
} */
/* .cw {
    width: 35%;
    } */
/* @media(max-width: 992px) {
    .cw {
    width: 60%;
    }
    }
    @media(max-width: 768px) {
    .cw {
    width: 80%;
    }
    }
    @media(max-width: 492px) {
    .cw {
    width: 90%;
    }
    } */
