.profile-instructor{
    top: 0;
    right: 0;
    width: 400px;
    height: 650px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
   
}

.profile__intructor-title{
    text-align: center;
  
}
.avatar_instructor{
    margin-top: 5px;
    margin-left: 35%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content-wrap{
    
    width: 390px;
    height: 600px;
    
}

.content-text{
   
    padding: 10px 0 10px 20px;
    margin: 20px 2px 2px 10px;
    border-radius: 30px;
    border: 1px solid #000;
}
.wrap-button{
    margin: 100px 10px 10px 90px;
    display: flex;
    justify-content: space-between;
    
    
}

.button{
    border-radius: 8px;
    height: 50px;
    width: 180px;
    margin-right: 20px;
    border: none;
    padding: 5px;
    font-size: 13px;
    
}

.buttonn:hover{
    opacity: 0.8;
}

.button-update{
    background-color: #DD1D1D;
    color: #fff;
}

.button_changepass{
    background-color: #2BA621;
    width: 120px;
    color: #fff;
}